<div id="logo" class="blockfield">
    <img src= <%= 'http://www.wupcdn.com/jtoor/jtoor.png' + "" %> >
</div>

    <div id="customerinfo" class="blockfield">
    <h3>Customer Information</h3>
    <span class= "padded">Customer Name: <%= @suit.customer_name %></span><span class= "padded"> Phone Number:<%= @suit.phone_number %></span><br /><br>
    <span class= "padded">Address: <%= @suit.address %></span> <span class= "padded">City: <%= @suit.city %></span> <br /><br>
    <span class= "padded">State: <%= @suit.state %></span>
    <span class= "padded">Zip: <%= @suit.zip %></span>
    <span class= "padded">Email: <%= @suit.email %> </span><br />
    </div>

    <div id="jacketmeasurements" class="blockfield additionalpad">
        <h3>Jacket Measurements</h3>
        Neck:
        <%= @suit.jacket_neck %><br>    
        Overarm:
        <%= @suit.jacket_overarm %><br>
        Chest:
        <%= @suit.jacket_chest %><br>
        Stomach:
        <%= @suit.jacket_stomach %><br>
        Front: 
        <%= @suit.jacket_front %><br>
        Back:
        <%= @suit.jacket_back %><br>
        Shoulder to Shoulder:
        <%= @suit.jacket_shoulder %><br>    
        Bicep:
        <%= @suit.jacket_bicep %><br>    
        Width of Jacket Shoulder:
        <%= @suit.jacket_width %><br>    
        Jacket Length: 
        <%= @suit.jacket_length %><br>    
        Front Jacket Length:
        <%= @suit.jacket_front_length %><br>
        Half Shoulders:
        <%= @suit.jacket_half_shoulder%><br>    
        Coat Sleeve:
        <%= @suit.jacket_sleeve %><br>    
        Hips:
        <%= @suit.jacket_hips %><br>    
        Wrist/Cuff: 
        <%= @suit.jacket_wrist %><br>    
        Jacket 1st Button:
        <%= @suit.jacket_first_button %><br>    
        Vest Bottom Button Length:
        <%= @suit.jacket_vest_button %><br>    
        Vest Length:
        <%= @suit.jacket_vest_length %><br>    
        Fitting Vest Size: 
        <%= @suit.jacket_vest_size %><br>   
        Elbow Length:
        <%= @suit.jacket_elbow %><br>    
        Shoulder to Bust: <%= @suit.jacket_shoulder_to_bust%> <br />
        Shoulder to Waist:  <%= @suit.jacket_shoulder_to_waist%><br />
        Bust to Bust:  <%= @suit.jacket_bust_to_bust %><br />
        Underbust: <%= @suit.jacket_underbust%> <br />
        Shoulder to Underbust: <%= @suit.jacket_shoulder_to_underbust %> <br />

    </div>

    <div id="jacket_shouldertype" class="blockfield additionalpad">
        <h3>Shoulder Type</h3>
        <%= @suit.shoulder_type%><br>

    </div>

    <div id="jacket_balancefigure" class="blockfield additionalpad">
        <h3>Balance Figure</h3>
        <%= @suit.balance_figure %><br>

    </div>

    <div id="jacket_fitting" class="blockfield additionalpad" style="margin-top:303px;">
        <h3>Fitting</h3>
        <%= @suit.fitting%><br>
    </div>
    <div id="trousermeasurements" class="blockfield additionalpad">
        <h3>Trouser Measurements</h3>
        Trouser Waist:
        <%= @suit.trouser_waist %><br>
        Hips:
        <%= @suit.trouser_hips %><br>
        Rise:
        <%= @suit.trouser_rise %><br>
        Trousers Length:
        <%= @suit.trouser_length %><br>
        Inseam:
        <%= @suit.trouser_inseam %><br>
        Knee Length:
        <%= @suit.trouser_knee_length %><br>
        Trousers Thigh Width:
        <%= @suit.trouser_thigh_width %><br>
        Trouser Knee Width:
        <%= @suit.trouser_knee_width %><br>
        Trouser Bottom Width:
        <%= @suit.trouser_bottom_width %><br>
   </div>
   <div id ="jacket_lining" class ="blockfield">
        <h3>Lining</h3>
        <%= @suit.lining %><br>
    </div>

    <div id ="suit_notes" class="blockfield">
        <h3>Notes:</h3>
        <%= @suit.suit_note %><br>
    </div>
    <div id="jacket_material" class="materialpad">
        <h>Jacket</h>&nbsp;&nbsp;&nbsp;
        <span class="padded"><h>Material:</h>
        <%= @suit.jacket_material %> </span>
        <span class="padded"><h>Lining:</h>
        <%= @suit.jacket_lining %></span>
    </div><br>

    <div id="jacket_inner_color" class="additionalpad">
        <span class="padded"><h>Inner Piping Color:</h><%= @suit.inner_piping_color %></span>
        <span class="padded"><h>Inner Stitching Color:</h><%= @suit.inner_stitching_color %></span>

    </div><br>

    <div id="jacket_undercollar" class="additionalpad"><br>
        <span class="padded"><h>Under Collar</h>
        <%= @suit.jacket_under_collar %><br></span><br>

		<span class="padded">Felt Color: 
        <%= @suit.jacket_felt_color %></span>
        <span class="padded">Logo Stitch Color: 
        <%= @suit.jacket_logo_stitch_color %><br></span><br>
    </div>
    <div id ="jacket_singlebreasted" class="additionalpad">
        <h4>Single Breasted</h4>
        <%= @suit.jacket_single_breasted %><br>
    </div>
    <div id="jacket_doublebreasted" class="additionalpad">
        <h4>Double Breasted</h4>
        <%= @suit.jacket_double_breasted %><br>
    </div>
    <div id ="jacket_vent">
        <h4>Vent</h4>
        <%= @suit.jacket_vent %><br>

    </div>
    <div id="jacket_lapels">
        <h4>Lapels</h4>
        <%= @suit.jacket_lapels %><br>
    </div>

    <div id ="jacket_buttons" class="additionalpad">
        <h4>Buttons</h4>
        Button Color: 
        <%= @suit.jacket_button_color %><br>    
        Button Stitching Color:
        <%= @suit.jacket_button_stitch %><br>
        Buttonhole Color: 
        <%= @suit.jacket_buttonhole %><br>
        Lapel Buttonhole Color: 
        <%= @suit.jacket_lapel_buttonhole %><br>
    </div>

    <div id ="jacket_pockets" class="additionalpad">
        <h4>Pockets</h4>
        
        <%= "Straight" if @suit.jacket_pockets_straight == '1' %><br>            
        <%= "Slanted" if @suit.jacket_pockets_slanted == '1'%><br>  
        <%= "With Ticket Pocket" if @suit.jacket_pockets_ticket == '1'%><br>   
        <%= "Patched" if @suit.jacket_pockets_patched  == '1' %><br>      
        <%= "Flaps" if @suit.jacket_pockets_flaps == '1' %><br>
        <%= "Normal Chest" if @suit.jacket_pockets_normal == '1' %><br>
        <%= "Patch Chest" if @suit.jacket_pockets_patch == '1'%><br>
    </div>

    <div id ="jacket_detailing">
        <h4>Detailing</h4>
        
        <%= "Hand Stitching" if @suit.jacket_detailing_hand  == '1' %><br>    
       
        <%="Pick Stitching" if @suit.jacket_detailing_pick  == '1' %><br>
       
        <%= "Dot Stitching" if @suit.jacket_detailing_dot =='1' %><br>
        
        <%= "Piping" if @suit.jacket_detailing_piping == '1' %><br>
         
        <%= "Welting" if @suit.jacket_detailing_welting =='1' %>
        
        <%= "Color: " + @suit.jacket_detailing_color unless @suit.jacket_detailing_color == '' %><br>
        
        <%= "Elbow Patches" if @suit.jacket_detailing_elbow == '1' %>
        Note:
        <%= @suit.jacket_detailing_elbow_note %><br>
    </div>
    <div id="jacket_note">
        <h4>Notes:</h4>
        <%= @suit.jacket_note %><br>    
    </div>

    <div id ="vest_material" class ="materialpad">
        <h>Vest Material:</h>
        <%= @suit.vest_material %><br>   
    </div> 

    <div id="vest_singlebreasted">
        <h4>Single Breasted</h4>
        <%= @suit.vest_single_breasted %><br>

    </div>
    <div id="vest_doublebreasted">
        <h4>Double Breasted</h4>
        <%= @suit.vest_double_breasted %><br>

    </div>
    <div id="vest_back">
        <h4>Back</h4>
        <%= @suit.vest_back %><br>
    </div>
    <div id="vest_lapels">
        <h4>Lapels</h4>
        <%= @suit.vest_lapel %><br>

    </div>
    <div id="vest_pockets">
        <h4>Pockets</h4>
        
        <%= "Straight" if @suit.vest_pockets_straight == '1' %><br>    
        
        <%= "Slanted" if @suit.vest_pockets_slanted == '1' %><br>
         
        <%= "W/Ticket" if @suit.vest_pockets_ticket == '1' %><br>
        
        <%= "Flaps" if @suit.vest_pockets_flaps == '1' %><br>
        
        <%= "Chest" if @suit.vest_pockets_chest == '1' %><br>
    </div>
    <div id="vest_detailing">
        <h4>Detailing</h4>    
        <%= "Hand Stitching" if @suit.vest_detailing_hand  == '1'%><br>    
        <%= "Pick Stitching" if @suit.vest_detailing_pick  == '1'%><br>
        <%= "Dot Stitching" if @suit.vest_detailing_dot =='1' %><br>
        <%= "Piping" if @suit.vest_detailing_piping  == '1'%><br>
        <%= "Welting" if @suit.vest_detailing_welting =='1' %>
        <%= "Color: " + @suit.vest_detailing_color unless @suit.vest_detailing_color == '' %><br>
    </div>
    <div id="vest_buttons">
        <h4>Buttons</h4>
        Button Color:
        <%= @suit.vest_button_color %><br>    
        Button Stitching Color:
        <%= @suit.vest_button_stitch %><br>
        Button Hole Color: 
        <%= @suit.vest_buttonhole %><br>
    </div>
    <div id ="vest_note">
        <h4>Notes:</h4>
        <%= @suit.vest_note %><br> 
    </div>
    <div id="trouser_material" class="materialpad">
       <h>Trousers/Skirt &nbsp; Material:</h>
        <%= @suit.trouser_material %><br>   
    </div>        
    <div id="trousers_frontpockets">
        <h4>Front Pockets</h4>
        <%= @suit.trouser_front_pocket%><br>
    </div>

    <div id="trousers_pleats">
        <h4>Pleats</h4>
        <%= @suit.trouser_pleat %><br>

    </div>
    <div id="trousers_rearpockets">
        <h4>Rear Pockets</h4>
        
        <%= "Left" if @suit.trouser_rear_left == '1' %><br>    
        
        <%= "Right" if @suit.trouser_rear_right == '1'%><br>
        
        <%= "Flaps" if @suit.trouser_rear_flaps == '1' %><br>
        
        <%= "Button" if @suit.trouser_rear_button  == '1'%><br>
        
        <%= "None" if @suit.trouser_rear_none == '1'  %><br>
    </div>

    <div id="trousers_fasteners">
        <h4>Fastener</h4>
        
        <%= "Buttons" if @suit.trouser_fast_button == '1' %><br>    
        
        <%= "Clips" if @suit.trouser_fast_clips == '1'%><br>
        
        <%= "Belt Loops" if @suit.trouser_fast_belt == '1' %><br>
        
        <%= "Side Metal Fasteners" if @suit.trouser_fast_side == '1' %><br>
    </div>

    <div id="trousers_cuff">
        <h4>Cuff</h4>
       
        <%= "None" if  @suit.trouser_cuff_none == '1' %><br>
        
        <%= "Other" if @suit.trouser_cuff_other == '1' %>    
        <%= @suit.trouser_cuff_other_note %><br> 
    </div>
    <div id="trousers_note">
        <h4>Notes</h4>
        <%= @suit.trouser_note %><br> 
    </div>
    <div id="suit_attach">
		<%= photo_display(@suit) %>
    </div>
