<%= form_for(@shirt, :html => { :multipart => true }) do |f| %>
  <% if @shirt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shirt.errors.count, "error") %> prohibited this shirt from being saved:</h2>

      <ul>
      <% @shirt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :customer_name %>
    <%= f.text_field :customer_name %><br>
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %> <br>
    <%= f.label :photo_front %>
    <%= f.file_field :photo_front %> <br>
    <%= f.label :photo_side %>
    <%= f.file_field :photo_side %> <br>
    <%= f.label :photo_back %>
    <%= f.file_field :photo_back %> <br>
    <%= f.submit %>
  </div>
<% end %>
