<div style ="border:1px solid black; width:60%;">
<h2> Customer Information</h2>
Customer Name: <%= @shirt.customer_name %>  Phone Number:<%= @shirt.phone_number %><br />
Address: <%= @shirt.address %> City: <%= @shirt.city %> <br />
State: <%= @shirt.state %>
Zip: <%= @shirt.zip %>
Email: <%= @shirt.email %> <br />
</div>
<div>

<h2>Shirt Measurements</h2>
Neck: <%= @shirt.measure_neck%> <br />
Overarm: <%= @shirt.measure_overarm%> <br />
Chest:  <%= @shirt.measure_chest%> <br />
Stomach:  <%= @shirt.measure_stomach%><br />
Shoulder to Shoulder:  <%= @shirt.measure_shoulder%><br />
Wrist/Cuff: <%= @shirt.measure_wrist%> <br />
Bicep:  <%= @shirt.measure_bicep%><br />
Shirt Length:  <%= @shirt.measure_length %><br />
Shirt Sleeve: <%= @shirt.measure_sleeve%> <br />
Hips: <%= @shirt.measure_hips%> <br />

<% if @shirtswitch  %>
<h2>Photo Attachments </h2>
	
<%= image_tag @shirt.photo_front, :height => "200px", :width =>"200px" unless @shirt.photo_front_file_name == nil  %><br />
<%= image_tag @shirt.photo_side, :height => "200px", :width =>"200px" unless @shirt.photo_side_file_name == nil %><br />
<%= image_tag @shirt.photo_back, :height => "200px", :width =>"200px" unless @shirt.photo_back_file_name == nil %><br />
<% end %>
</div>
<br />