<div id="logo" class="blockfield">
    <img src= <%= 'http://www.wupcdn.com/jtoor/jtoor.png' + "" %> >
</div>

<div id="customerinfo" class ="blockfield">
	<h3> Customer Information</h3>
	<span class= "padded">Customer Name: <%= @shirt.customer_name %></span><span class= "padded"> Phone Number:<%= @shirt.phone_number %></span><br /><br>
	<span class= "padded">Address: <%= @shirt.address %></span> <span class= "padded">City: <%= @shirt.city %></span> <br /><br>
	<span class= "padded">State: <%= @shirt.state %></span>
	<span class= "padded">Zip: <%= @shirt.zip %></span>
	<span class= "padded">Email: <%= @shirt.email %> </span><br />
</div>
<div id="shirtmeasurements" class ="blockfield additionalpad">
	<h3>Shirt Measurements</h3>
	Neck: <%= @shirt.measure_neck	%> <br />
	Overarm: <%= @shirt.measure_overarm%> <br />
	Chest/Bust:  <%= @shirt.measure_chest%> <br />
	Stomach:  <%= @shirt.measure_stomach%><br />
	Shoulder to Shoulder:  <%= @shirt.measure_shoulder%><br />
	Wrist/Cuff: <%= @shirt.measure_wrist%> <br />
	Bicep:  <%= @shirt.measure_bicep%><br />
	Shirt Length:  <%= @shirt.measure_length %><br />
	Shirt Sleeve: <%= @shirt.measure_sleeve%> <br />
	Hips: <%= @shirt.measure_hips%> <br />
</div>

<div id="shirt_shouldertype" class ="blockfield additionalpad" >
	<h3>Shoulder Type</h3>
	<%= @shirt.shoulder_type.humanize.titlecase if @shirt.shoulder_type %> <br />
</div>

<div id="shirt_balancefigure" class ="blockfield additionalpad">
	<h3>Balance Figure</h3>
	<%= @shirt.balance_figure.humanize.titlecase if @shirt.balance_figure %> <br />
</div>

<div id="shirt_fitting" class ="blockfield ">
	<h3>Fitting</h3>
	<%= @shirt.fitting.humanize.titlecase if @shirt.fitting %> <br />
</div>

<div id="shirt_notes" class ="blockfield ">
	<h3>Notes</h3>
 	<%= @shirt.notes %> <br />
</div>


<div id="shirt_material">
	<h>Shirt Material</h>
	<%= @shirt.shirt_material %> <br />
</div>

<div id="shirt_materialdetails">
	<h4>Material Details</h4>
	Collar: <%= @shirt.material_collar %> <br />
	Inner Collar: <%= @shirt.material_inner_collar %> <br />
	Under Collar: <%= @shirt.material_under_collar %> <br />
	Button-side Outer: <%= @shirt.material_buttonside_outer %> <br />
	Button-side Inner: <%= @shirt.material_buttonside_inner %> <br />
	Buttonhole-side Outer: <%= @shirt.material_buttonholeside_outer %> <br />
	Buttonhole-side Inner: <%= @shirt.material_buttonholeside_inner %> <br />
	Cuffs: <%= @shirt.material_cuffs %> <br />
	Inner Cuffs: <%= @shirt.material_inner_cuffs %> <br />
</div>

<div id="shirt_cuffstyle">
	<h4>Cuff Style</h4>
	<%= @shirt.cuff_style.humanize.titlecase if @shirt.cuff_style %> <br />
</div>


<div id="shirt_collarstyle">
	<h4>Collar Style</h4>
	<%= @shirt.collar_style.humanize.titlecase if @shirt.collar_style %> <br />
</div>

<div id="shirt_buttons">
	<h4>Buttons</h4>
	Button Color: <%= @shirt.button_color %> <br />
	Button Stitching Color: <%= @shirt.button_stitching_color %> <br />
	Button Hole Color: <%= @shirt.button_hole_color %> <br />
</div>

<div id="shirt_pockets">
	<h4>Pockets</h4>
	<%= @shirt.pockets.humanize.titlecase if @shirt.pockets %> <br />
</div>

<div id="shirt_detailing">
	<h4>Detailing</h4>
	Detailing Type: <%= @shirt.detailing.humanize.titlecase if @shirt.detailing %> <br />
	Detailing Color: <%= @shirt.detailing_color %> <br />
</div>

<div id="shirt_morenotes">
	<h4>Notes</h4>
 	<%= @shirt.more_notes %> <br />
</div>


<div id="shirt_attach">
	<%= photo_display(@shirt) %>
</div>
<br />