<p id="notice"><%= notice %></p>

name: <%= @shirt.customer_name %><br>
number:<%= @shirt.phone_number %><br>
<%= image_tag @shirt.photo_front, :height => "200px", :width =>"200px" unless @shirt.photo_front_file_name == nil  %><br>
<%= image_tag @shirt.photo_side, :height => "200px", :width =>"200px" unless @shirt.photo_side_file_name == nil %><br>
<%= image_tag @shirt.photo_back, :height => "200px", :width =>"200px" unless @shirt.photo_back_file_name == nil %><br>


<%= link_to "pdf this up", pdf_path(@shirt) %><br>
<%= link_to "pdf to dropbox", shirt_upload_path(@shirt), :method => :post %>




<%= link_to 'Edit', edit_shirt_path(@shirt) %> |
<%= link_to 'Back', shirts_path %>
