<p id="notice"><%= notice %></p>
<%= render 'shirt' %>

<%= link_to "Download PDF Form", pdf_path(@shirt) %><br>
<% if session[:dropbox_session] %>
<%= link_to "Export to Dropbox as PDF", shirt_upload_path(@shirt), :method => :post %>
<% end %>

<br><br>

<%= link_to 'Edit', edit_shirt_path(@shirt) %> |
<%= link_to 'Back', shirts_path %>
