<h1>J Toor Forms</h1>
<% unless session[:dropbox_session] %>
<%= link_to 'authorize dropbox', authorize_path  %>
<% else %>
<div>
  <%= link_to "Fill out a Shirt form", new_shirt_path %>
</div>
<div>
<%= link_to "Fill out a Suit form", new_suit_path %>
</div>
<% end %>
<br /><br />
<div>
  View Completed Forms
</div>
<div>
  <%= link_to "Shirts", shirts_path %>
</div>
<div>
  <%= link_to "Suits", suits_path %>
</div>

