<!DOCTYPE html>
<html>
<head>
  <title>Jtoor</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if session[:dropbox_session] %>
		<%= link_to "Log Out of Dropbox", logout_path %>
	<% else %>
		<%= link_to 'Login to your Dropbox account', authorize_path  %>
	<% end %>

<%= yield %>

</body>
</html>
